C8_BASE=
C8_CLIENT_ID=
C8_CLIENT_SECRET=
C8_IDP=
C8_REGISTRY=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ISSUER=
LEDGER_SERVICE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_WALLET_GATEWAY_DAPP_API=
NEXT_PUBLIC_WALLET_GATEWAY_URL=
SUPABASE_SERVICE_ROLE_KEY=